<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3 sidebar">
      <button class="btn btn-primary"> Nowa wiadomość</button>
      <nav class="navbar">
        <ul class="nav flex-sm-column nav-fill">
          <li class="nav-item">
            <a class="nav-link">Odebrane</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Wysłane</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Kosz</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-12 col-md-9">
      <h3>Wiadmomości:</h3>
      <div class="row my-3">
        <div *ngFor="let message of messages; index as i" class="col-12 border border-primary py-1 my-1">
          Data: {{message.data}}
          <div class="card">
            <div class="card-body">
              <b>Od:</b> {{message.from}} | <b>Treść:</b> {{ message.text}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>