<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3 sidebar">
      <button class="btn btn-primary"> Nowa wiadomość</button>
      <nav class="navbar">
        <ul class="nav flex-sm-column nav-fill">
          <li class="nav-item">
            <a class="nav-link">Odebrane</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Wysłane</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Kosz</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-12 col-md-9">
      <div class="row"> Row</div>
    </div>
  </div>
</div>