<div class="row row-size" style="margin: 0;">
    <app-schedule-aside class="col-md-4" style="padding: 0;"></app-schedule-aside>
    <div class="col-md-8" style="padding: 0;">
      <div class="section-nav-wrapper">
        <button class="btn-green" routerLink="/secretary/schedule/exercise" routerLinkActiveOptions="{exact: true}">Lista zajęć</button>
        <button class="btn-green" routerLink="/secretary/schedule/exercise/add-exercise" routerLinkActiveOptions="{exact: true}">Dodaj zajęcia</button>
      </div>
      <main class="main-wrapper">
        <div class="search-wrapper">
          <input type="text">
          <button class="btn-green search-btn" type="submit">Szukaj</button>
        </div>
        <div class="search-box">
        </div>
      </main>
    </div>
  </div>
