<div class="container">
  <div class="row justify-content-center">
      <div class="col-10">
        <div class="card">
          <div class="card-header">
            <button class="btn btn-primary" (click)=open(content)>Dodaj klasę</button>
          </div>
          <div class="card-body">
            <h5 class="card-title">Lista klas</h5>
            <table class="table table-striped">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa klasy</th>
                <th scope="col">liczba uczestników</th>
              </tr>
              <tr *ngFor="let class of classes; index as i">
                <th scope="col"> {{i+1}} </th>
                <td> {{class.name}} </td>
                <td> {{class.count}} </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Wpisz nazwę klasy</h4>
  </div>
  <div class="modal-body">
      <input #box type="text">
      <button class="btn btn-primary" (click)="modal.close(box.value)">Dodaj</button>
  </div>
</ng-template>